@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: #a21caf;
        --color-secondary: #14b8a6;
        --bg-light: #fffbfb;
        --bg-dark: #1a1717;
    }

    .input-primary {
        @apply w-full bg-white/50 dark:bg-black/50 rounded-md ring-1 border border-black/10 dark:border-white/20 text-sm py-2 px-3 outline-none focus:ring-[var(--color-primary)];
    }
}

:root {
    --color-primary: #a21caf;
    --color-secondary: #14b8a6;
    --bg-light: #fffbfb;
    --bg-dark: #1a1717;
}

/* body {
    overflow-x: hidden;
} */

/* For WebKit Browsers */
::-webkit-scrollbar {
    display: none;
}

/* For Firefox */
::-moz-scrollbar {
    display: none;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--bg-dark);
    }
}

.ellipsis {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}
